<app-headers></app-headers>
<app-go-back></app-go-back>

<div class="container mt-5">
  <h1 class="text-center mb-4" style="color: white;">All Movies</h1>
  <div class="row">
    <div class= "col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2" *ngFor="let item of movies">
      <div class="card mb-4 shadow-sm">
        <a [routerLink]="['/movie', item.id]">
          <img [src]="item.image" class="bd-placeholder-img card-img-top" width="100%">
        </a>
        <div class="text-center mb-4 card-body">
            <a [routerLink]="['/movie', item.id]"><p class="card-text">{{item.name}}</p></a>
        </div>
      </div>
    </div>
  </div>
</div>
