<!-- <app-headers></app-headers>
<form (ngSubmit)="updateUserById()" [formGroup]="updateForm">
    <label>username </label>
    <input type="text" name="username" formControlName="username"><br>
    <label>password </label>
    <input type="password" name="password" formControlName="password"><br>
    <label>email </label>
    <input type="email" name="email" formControlName="email"><br>
    <label>date of birth </label>
    <input type="date" name="dob" formControlName="dob"><br>
    <button type="submit">submit</button>
</form> -->

<app-headers></app-headers>
<app-go-back></app-go-back>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div class="card mt-5">
          <div class="card-body">
            <h5 class="card-title">Edit Profile</h5>
            <form (ngSubmit)="updateUserById()" [formGroup]="updateForm">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" formControlName="username" class="form-control">
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" formControlName="password" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" id="dob" name="dob" formControlName="dob" class="form-control">
              </div>
              <button type="submit" class="btn btn-primary mt-3">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  