<app-headers></app-headers>
<div class="container" style="margin-top: 100px;">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><h2>Explore Movies</h2></div>
        <div class="card-body">
          <p class="card-text">Explore our vast collection of movies from various genres and eras.</p>
          <a routerLink="/all-movie" class="btn btn-primary">All Movies</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header"><h2>Explore TV Shows</h2></div>
        <div class="card-body">
              <p class="card-text">Dive into our extensive series library, featuring shows from around the world.</p>
          <a routerLink="/all-series" class="btn btn-primary">All Series</a>
        </div>
      </div>
    </div>
  </div>
</div>
