<!-- <app-headers></app-headers>
<form (ngSubmit)="saveUser()" [formGroup]="signUpForm">
    <label>Username: </label>
    <input type="text" name="username" formControlName="username"><br>
    <p *ngIf="usernameInput.invalid && usernameInput.touched">Name must be more then 3 characters</p>
    <label>Password: </label>
    <input type="password" name="password" formControlName="password"><br>
    <p *ngIf="passwordInput.invalid && passwordInput.touched">password must be more then 7 characters</p>
    <label>Email: </label>
    <input type="email" name="email" formControlName="email"><br>
    <p *ngIf="emailInput.invalid && emailInput.touched">email must be in email format</p>
    <label>Date of birth: </label>
    <p *ngIf="dobInput.invalid && dobInput.touched">date of birth must be right</p>
    <input type="date" name="dob" formControlName="dob"><br>
    <button type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
    <p> {{errorMsg}} </p>
    <a [routerLink]="['/login']" >You have an account Already</a>


</form> -->
<app-headers></app-headers>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card my-4">
        <div class="card-body">
          <h2 class="text-center">Sign Up</h2>
          <form (ngSubmit)="saveUser()" [formGroup]="signUpForm">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" id="username" name="username" formControlName="username" class="form-control">
              <p *ngIf="usernameInput.invalid && usernameInput.touched" class="text-danger">Name must be more than 3 characters</p>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" formControlName="password" class="form-control">
              <p *ngIf="passwordInput.invalid && passwordInput.touched" class="text-danger">Password must be more than 7 characters</p>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" formControlName="email" class="form-control">
              <p *ngIf="emailInput.invalid && emailInput.touched" class="text-danger">Email must be in email format</p>
            </div>
            <div class="form-group">
              <label for="dob">Date of Birth</label>
              <input type="date" id="dob" name="dob" formControlName="dob" class="form-control">
              <p *ngIf="dobInput.invalid && dobInput.touched" class="text-danger">Date of birth must be right</p>
            </div>
           <br> <button type="submit" class="btn btn-primary" [disabled]="signUpForm.invalid">Sign Up</button>
            <p class="mt-3 text-danger"> {{errorMsg}} </p>
            <p class="mt-3">
              Already have an account? <a [routerLink]="['/login']">Log in</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
